<%= form_for([@product, @product.reviews.build]) do |f| %>

  <div class="field">
    <div id="star-rating"></div>
  </div>

  <div class="field">
    <%= f.label :review %>
    <%= f.text_area :review %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script>
  $('#star-rating').raty({
    path: '/assets',
    scoreName: 'review[rating]'
  });
</script>
